<%= link_to "New project!", new_project_path %>
<% @projects.each do |project| %>
  <h1><%= project.title %></h1>
  <%= link_to "View about project", project_path(project), class: "btn btn-default" %>
<% end %>
